@font-face {
  font-family: 'FiraCode';
  src: url('./assets/fonts/FiraCode-Regular.woff2') format('woff2'),
    url('./assets/fonts/FiraCode-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'FiraCode';
}